*{
	margin: 0;
	padding: 0;
}

body{
	background: #444 url(http://sandbox.runjs.cn/uploads/rs/418/nkls38xx/carbon_fibre_big.png);
}

a{
	color:#e67e22;
	outline:none;
	text-decoration:none;
}

a:active,a:hover,a:focus,a:visited {
	outline:none;
	text-decoration:none;
}

.loginBox{
	width: 420px;
	height: 230px;
	padding: 0 20px;
	border: 1px solid #fff;
	color: #000;
	margin-top: 40px;
	border-radius: 8px;
	background: white;
	box-shadow: 0 0 15px #222;
	background: -moz-linear-gradient(top, #fff, #efefefe 8%);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f4f4f4));
	font:11px/1.5em 'Microsoft YaHei';
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-210px;
	margin-top:-115px;
}

.loginBox h2{
	height:45px;
	width:150px;
	font-size:20px;
	font-weight:normal;
	lin
}

.loginBox .left{
	border-right:1px solid #ccc;
	height:100%;
	padding-right:200px;
}

.loginBox .lh30{
	width:120px;
	padding-top:10px;
}

.loginBox .lbt{
	width:200px;
}

.main-navigation{
	text-align:left;
	background:#fff;
	border-top:1px solid #ebebeb;
	border-bottom:3px solid #e1e1e1;
	width:74%;
}
.main-navigation .menu{
	padding:0px;
	margin:0px;
}

.main-navigation .menu li.nav-current{
	border-bottom:3px solid #e67e22;
	margin-bottom:-2px;
}

.main-navigation .menu li{
	list-style:none;
	display:inline-block;
	position:relative;
}

.main-navigation .menu li a{
	color:#505050;
	line-height:4em;
	display:block;
	padding:0 1px;
}

.main-navigation .menu li a:visited, a:focus, a:active{
	color:#505050;
	line-height:4em;
	background-color:#000;
	border-bottom:3px solid #e67e22;
	margin-bottom:-2px;
}